﻿.ag-ons {
  line-height: 1.4;
  font-family: Roboto;
  font-size: 14px;
  color: #333;
  border: 1px solid #808080;
  background-color: rgb(239,243,228);
/* this is for the rowGroupPanel, that appears along the top of the grid */
/* this is for the column drops that appear in the toolPanel */
}
.ag-ons .direita
{
    float:right!important;
}
.ag-ons img {
  vertical-align: middle;
  border: 0;
}
.ag-ons .ag-root {
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ag-ons .ag-cell-not-inline-editing {
  padding: 2px;
}
.ag-ons .ag-cell-range-selected-1:not(.ag-cell-focus) {
  background-color: rgba(120,120,120,0.4);
}
.ag-ons .ag-cell-range-selected-2:not(.ag-cell-focus) {
  background-color: rgba(80,80,80,0.4);
}
.ag-ons .ag-cell-range-selected-3:not(.ag-cell-focus) {
  background-color: rgba(40,40,40,0.4);
}
.ag-ons .ag-cell-range-selected-4:not(.ag-cell-focus) {
  background-color: rgba(0,0,0,0.4);
}
.ag-ons .ag-column-moving .ag-cell {
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
  transition: left 0.2s;
}
.ag-ons .ag-column-moving .ag-header-cell {
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
  transition: left 0.2s;
}
.ag-ons .ag-column-moving .ag-header-group-cell {
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
  transition: left 0.2s;
}
.ag-ons .ag-cell-focus {
  border: 1px solid #d3d3d3;
}
.ag-ons .ag-cell-no-focus {
    border-right: 1px dotted #808080;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.ag-ons .ag-ltr .ag-cell-no-focus {
  border-left: 1px solid transparent;
}
.ag-ons .ag-rtl .ag-cell-no-focus {
  border-left: 1px solid transparent;
}
.ag-ons .ag-rtl .ag-cell-first-right-pinned {
  border-left: none;
}
.ag-ons .ag-ltr .ag-cell-first-right-pinned {
  border-left: none;
}
.ag-ons .ag-rtl .ag-cell-last-left-pinned {
  border-right: none;
}
.ag-ons .ag-ltr .ag-cell-last-left-pinned {
  border-right: none;
}
.ag-ons .ag-cell-highlight {
  border: 1px solid #006400;
}
.ag-ons .ag-cell-highlight-animation {
  -webkit-transition: border 1s;
  -moz-transition: border 1s;
  -o-transition: border 1s;
  -ms-transition: border 1s;
  transition: border 1s;
}
.ag-ons .ag-value-change-delta {
  padding-right: 2px;
}
.ag-ons .ag-value-change-delta-up {
  color: #006400;
}
.ag-ons .ag-value-change-delta-down {
  color: #8b0000;
}
.ag-ons .ag-value-change-value {
  background-color: transparent;
  border-radius: 1px;
  padding-left: 1px;
  padding-right: 1px;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
.ag-ons .ag-value-change-value-highlight {
  background-color: #cec;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.ag-ons .ag-rich-select {
  font-size: 14px;
  border: none;
  background-color: #fff;
}
.ag-ons .ag-rich-select-value {
  padding: 2px;
}
.ag-ons .ag-rich-select-list {
  border-top: 1px solid #d3d3d3;
}
.ag-ons .ag-rich-select-row {
  padding: 2px;
}
.ag-ons .ag-rich-select-row-selected {
  background-color: #bde2e5;
}
.ag-ons .ag-large-text {
  border: none;
}
.ag-ons .ag-header {
  color: #666;
  background: none;
  border-bottom: none;
  font-weight: normal;
}
.ag-ons .ag-header-icon {
  color: #666;
  stroke: none;
  fill: #666;
}
.ag-ons .ag-no-scrolls .ag-header-container {
  background: none;
  border-bottom: none;
}
.ag-ons .ag-header-container {
  background: -webkit-linear-gradient(#99cc00, #799f26);
  background: -moz-linear-gradient(#99cc00, #799f26);
  background: -o-linear-gradient(#99cc00, #799f26);
  background: -ms-linear-gradient(#99cc00, #799f26);
  background: linear-gradient(#99cc00, #799f26);
  border-bottom: 1px solid #808080;
}

.ag-ons .ag-ltr .ag-header-cell {
    border-right: 1px solid #808080;
}
.ag-ons .ag-rtl .ag-header-cell {
  border-left: none;
}
.ag-ons .ag-header-cell-moving .ag-header-cell-label {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ag-ons .ag-header-cell-moving {
  background-color: #bebebe;
}
.ag-ons .ag-ltr .ag-header-group-cell {
  border-right: none;
}
.ag-ons .ag-rtl .ag-header-group-cell {
  border-left: none;
}
.ag-ons .ag-header-group-cell-with-group {
  border-bottom: none;
}
.ag-ons .ag-header-cell-label {
  padding: 4px 2px 4px 2px;
}
.ag-ons .ag-header-cell-text {
  padding-left: 2px;
  color:#ffffff;
}
.ag-ons .ag-header-group-cell-label {
  padding: 4px;
}
.ag-ons .ag-ltr .ag-header-group-cell-label {
  padding-left: 10px;
}
.ag-ons .ag-rtl .ag-header-group-cell-label {
  padding-right: 10px;
}
.ag-ons .ag-rtl .ag-header-group-text {
  margin-left: 2px;
}
.ag-ons .ag-ltr .ag-header-group-text {
  margin-right: 2px;
}
.ag-ons .ag-header-cell-menu-button {
  padding: 2px;
  margin-top: 4px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
  -moz-box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
  box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
  line-height: 0px /* normal line height, a space was appearing below the menu button */;
}
.ag-ons .ag-ltr .ag-pinned-right-header {
  border-left: none;
}
.ag-ons .ag-rtl .ag-pinned-left-header {
  border-right: none;
}
.ag-ons .ag-header-cell-menu-button:hover {
  border: none;
}
.ag-ons .ag-body {
  
  padding-bottom: 4px;
}
.ag-ons .ag-row-odd {
  background-color: #e9f4c7;
}
.ag-ons .ag-row-even {
  background-color: #fff;
}
.ag-ons .ag-row-selected {
  background-color: #b2dfee;
}
.ag-ons .ag-floating-top .ag-row {
  background-color: #f0f0f0;
}
.ag-ons .ag-floating-bottom .ag-row {
  background-color: #f0f0f0;
}
.ag-ons .ag-overlay-loading-wrapper {
  background-color: rgba(255,255,255,0.5);
}
.ag-ons .ag-overlay-loading-center {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #000;
}
.ag-ons .ag-overlay-no-rows-center {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.ag-ons .ag-group-cell-entire-row {
  background-color: #fff;
  padding: 2px;
}
.ag-ons .ag-footer-cell-entire-row {
  background-color: #fff;
  padding: 2px;
}
.ag-ons .ag-group-cell {
  font-style: italic;
}
.ag-ons .ag-ltr .ag-group-expanded {
  padding-right: 4px;
}
.ag-ons .ag-rtl .ag-group-expanded {
  padding-left: 4px;
}
.ag-ons .ag-ltr .ag-group-contracted {
  padding-right: 4px;
}
.ag-ons .ag-rtl .ag-group-contracted {
  padding-left: 4px;
}
.ag-ons .ag-ltr .ag-group-value {
  padding-right: 2px;
}
.ag-ons .ag-rtl .ag-group-value {
  padding-left: 2px;
}
.ag-ons .ag-ltr .ag-group-checkbox {
  padding-right: 2px;
}
.ag-ons .ag-rtl .ag-group-checkbox {
  padding-left: 2px;
}
.ag-ons .ag-group-child-count {
  display: inline-block;
}
.ag-ons .ag-footer-cell {
  font-style: italic;
}
.ag-ons .ag-menu {
  border: 1px solid #808080;
  background-color: #fff;
  cursor: default;
  font-family: Roboto;
  font-size: 14px;
}
.ag-ons .ag-menu .ag-tab-header {
  background-color: #f6f6f6;
}
.ag-ons .ag-menu .ag-tab {
  padding: 6px 16px 6px 16px;
  margin: 2px 2px 0px 2px;
  display: inline-block;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.ag-ons .ag-menu .ag-tab-selected {
  background-color: #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}
.ag-ons .ag-menu-separator {
  border-top: 1px solid #d3d3d3;
}
.ag-ons .ag-menu-option-active {
  background-color: #bde2e5;
}
.ag-ons .ag-menu-option-icon {
  padding: 10px 6px 10px 6px;
  vertical-align: middle;
}
.ag-ons .ag-menu-option-text {
  padding: 10px 6px 10px 6px;
  vertical-align: middle;
}
.ag-ons .ag-menu-option-shortcut {
  padding: 10px 6px 10px 6px;
  vertical-align: middle;
}
.ag-ons .ag-menu-option-popup-pointer {
  padding: 10px 6px 10px 6px;
  vertical-align: middle;
}
.ag-ons .ag-menu-option-disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ag-ons .ag-menu-column-select-wrapper {
  margin: 2px;
}
.ag-ons .ag-filter-checkbox {
  position: relative;
  top: 2px;
  left: 2px;
}
.ag-ons .ag-filter-header-container {
  border-bottom: 1px solid #d3d3d3;
}
.ag-ons .ag-filter-apply-panel {
  border-top: 1px solid #d3d3d3;
  padding: 2px;
}
.ag-ons .ag-filter-value {
  margin-left: 4px;
}
.ag-ons .ag-ltr .ag-selection-checkbox {
  padding-right: 4px;
}
.ag-ons .ag-rtl .ag-selection-checkbox {
  padding-left: 4px;
}
.ag-ons .ag-paging-panel {
  padding: 4px;
}
.ag-ons .ag-paging-button {
  margin-left: 4px;
  margin-right: 4px;
   padding-top:1px;
  padding-bottom:1px;
  background-color:#799f26;
  display: inline-block;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.ag-ons .ag-paging-row-summary-panel {
  display: inline-block;
  width: 300px;
}
.ag-ons .ag-tool-panel {
  background-color: #fff;
  border-bottom: none;
  border-top: none;
  color: #666;
}
.ag-ons .ltr .ag-tool-panel {
  border-right: none;
}
.ag-ons .rtl .ag-tool-panel {
  border-left: none;
}
.ag-ons .ag-status-bar {
  color: #666;
  background-color: #fff;
  font-size: 14px;
  height: 22px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 2px;
}
.ag-ons .ag-status-bar-aggregations {
  float: right;
}
.ag-ons .ag-status-bar-item {
  padding-left: 10px;
}
.ag-ons .ag-column-drop-cell {
  background: none;
  color: #000;
  border: 1px solid #808080;
}
.ag-ons .ag-column-drop-cell-ghost {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ag-ons .ag-column-drop-cell-text {
  padding-left: 2px;
  padding-right: 2px;
}
.ag-ons .ag-column-drop-cell-button {
  border: 1px solid transparent;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
}
.ag-ons .ag-column-drop-cell-button:hover {
  border: none;
}
.ag-ons .ag-column-drop-empty-message {
  padding-left: 2px;
  padding-right: 2px;
  color: #808080;
}
.ag-ons .ag-column-drop-icon {
  margin: 3px;
}
.ag-ons .ag-column-drop {
  background-color: #fff;
}
.ag-ons .ag-column-drop-horizontal {
  padding: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.ag-ons .ag-column-drop-vertical {
  padding: 4px 4px 10px 4px;
  border-bottom: none;
}
.ag-ons .ag-column-drop-vertical .ag-column-drop-cell {
  margin-top: 2px;
}
.ag-ons .ag-column-drop-vertical .ag-column-drop-empty-message {
  text-align: center;
  padding: 5px;
}
.ag-ons .ag-pivot-mode {
  border-bottom: none;
  padding: 4px;
  background-color: #fff;
}
.ag-ons .ag-tool-panel .ag-column-select-panel {
  border-bottom: none;
}
.ag-ons .ag-select-agg-func-popup {
  cursor: default;
  position: absolute;
  font-size: 14px;
  background-color: #fff;
  border: none;
}
.ag-ons .ag-select-agg-func-item {
  padding-left: 2px;
  padding-right: 2px;
}
.ag-ons .ag-select-agg-func-item:hover {
  background-color: #bde2e5;
}
.ag-ons .ag-row-hover {
  background-color: #d9edf5 !important;
}

.ag-ons .ag-header-cell-menu-button:hover {
  border: 1px solid #808080;
}
.ag-ons .ag-header-cell-label {
  text-align: center;
}
.ag-ons .ag-header {
  border-bottom: 1px solid #808080;
}
.ag-ons .ag-selection-checkbox {
  padding-right: 12px;
  padding-left: 12px;
}