<md-dialog>
    <form ng-cloak name="myForm" ng-submit="Salvar()">
        <md-toolbar class="md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Pessoa</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">X</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container flex="20" layout-xs="100">
                    <label>
                        Status pessoa:
                    </label>
                    <form-autocomplete name="IdStatuspessoa" data-options="pessoa.itemEdicaoListas.StatuspessoaLista" data-ng-model="pessoa.itemEdicao.IdStatuspessoa" on-change="Pesquisar()"></form-autocomplete>
                </md-input-container>
                <md-input-container flex="20" layout-xs="100">
                    <label>
                        Nome:
                    </label>
                    <input type="text" ng-model="pessoa.itemEdicao.NomePessoa" ng-model-options="{debounce: 450}" />
                </md-input-container>
                <md-input-container>
                    <label>
                        E-mail:
                    </label>
                    <input type="text" ng-model="pessoa.itemEdicao.MailPessoa" ng-model-options="{debounce: 450}" />
                </md-input-container>
                <md-input-container flex="20" layout-xs="100">
                    <label>
                        Data Nascimento:
                    </label>
                    <md-datepicker ng-model="pessoa.itemEdicao.DataNascimento" md-hide-icons="all" flex md-open-on-focus></md-datepicker>
                </md-input-container>
                <md-input-container flex="20" layout-xs="100">
                    <label>
                        Código Formatratamento:
                    </label>
                    <input type="text" ng-model="pessoa.itemEdicao.CodigoFormatratamento" ng-model-options="{debounce: 450}" />
                </md-input-container>
                <md-input-container flex="20" layout-xs="100">
                    <label>
                        Número Cpf:
                    </label>
                    <input type="text" ng-model="pessoa.itemEdicao.NumeroCpf" ng-model-options="{debounce: 450}" />
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button id="buttonSalvar" type="submit" class="md-raised margin-zero btn-ons">
                <span>Salvar</span>
            </md-button>
            <md-button id="buttonVoltar" ng-click="cancel()" class="md-raised margin-zero">
                <span>Cancelar</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
