﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Pessoa</title>
    <link rel="stylesheet" type="text/css" href="../../Content/bundle.min.css" />
    <script type="text/javascript" src="../../Scripts/bundle.min.js"></script>
    <script type="text/javascript" src="../../Views/App.js"></script>
    <link rel="stylesheet" type="text/css" href="Pessoa.css">
    <script type="text/javascript" src="PessoaListaController.js"></script>
</head>
<body ng-app="App" ng-controller="PessoaListaController">
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline color-ons-1">Pessoa</span>
            </md-card-title-text>
        </md-card-title>
        <md-input-container layout="row">
            <div flex="100" class="ng-hide md-dialog-content" ng-show="!pessoa.filtro.FiltroAvancado">
                <div layout="row" flex="100">
                    <md-input-container flex="100">
                        <label>Pesquisar</label>
                        <input type="text" data-ng-model="pessoa.filtro.TextoFiltroSimples" ng-change="Pesquisar()" />
                    </md-input-container>
                </div>
                <div layout="row" flex="100">
                    <md-button class="btn-ons md-raised margin-zero" ng-click="pessoa.filtro.FiltroAvancado=true;">
                        <span>Pesquisa avançada</span>
                    </md-button>
                </div>
            </div>
            <div flex="100" class="ng-hide md-dialog-content" ng-show="pessoa.filtro.FiltroAvancado">
                <div layout="row" layout-wrap>
                    <md-input-container flex="20" layout-xs="100">
                        <label>
                            Status pessoa:
                        </label>
                        <form-autocomplete name="IdStatuspessoa" data-options="pessoa.filtroListas.StatuspessoaLista" data-ng-model="pessoa.filtro.IdStatuspessoa" on-change="Pesquisar()"></form-autocomplete>
                    </md-input-container>
                    <md-input-container flex="20" layout-xs="100">
                        <label>
                            Nome:
                        </label>
                        <input type="text" ng-model="pessoa.filtro.NomePessoa" ng-change="Pesquisar()" ng-model-options="{debounce: 450}" />
                    </md-input-container>
                    <md-input-container flex="20" layout-xs="100">
                        <label>
                            E-mail:
                        </label>
                        <input type="text" ng-model="pessoa.filtro.MailPessoa" ng-change="Pesquisar()" ng-model-options="{debounce: 450}" />
                    </md-input-container>
                    <md-input-container flex="20" layout-xs="100">
                        <label>
                            Data Nascimento:
                        </label>
                        <md-datepicker ng-model="pessoa.filtro.DataNascimento" ng-change="Pesquisar()" md-hide-icons="all" flex md-open-on-focus></md-datepicker>
                    </md-input-container>
                    <md-input-container flex="20" layout-xs="100">
                        <label>
                            Código Formatratamento:
                        </label>
                        <input type="text" ng-model="pessoa.filtro.CodigoFormatratamento" ng-change="Pesquisar()" ng-model-options="{debounce: 450}" />
                    </md-input-container>
                    <md-input-container flex="20" layout-xs="100">
                        <label>
                            Número Cpf:
                        </label>
                        <input type="text" ng-model="pessoa.filtro.NumeroCpf" ng-change="Pesquisar()" ng-model-options="{debounce: 450}" />
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-button class="md-raised margin-zero btn-ons" ng-click="pessoa.filtro.FiltroAvancado=false;">
                        <span>Pesquisa simplificada</span>
                    </md-button>
                </div>
            </div>
        </md-input-container>
    </md-card>
    <md-card md-theme="default" md-theme-watch>
        <md-card-content>
            <div layout="row" class="flex-panel">
                <div flex-sm="100" flex-gt-sm="100" flex-gt-md="100" flex-gt-lg="50">
                    <div layout="row">
                        <md-nav-bar md-no-ink-bar="true">
                            <md-nav-item md-nav-click="Incluir($event)" name="Incluir" title="Cadastrar um novo item." ng-show="permissao.PodeIncluir">
                                <span>Incluir</span>
                            </md-nav-item>
                            <md-nav-item md-nav-click="Editar($event)" name="Editar" title="Editar um item." ng-show="permissao.PodeLer">
                                <span>Editar</span>
                            </md-nav-item>
                            <md-nav-item md-nav-click="Apagar($event)" name="Editar" title="Excluir um item." ng-show="permissao.PodeExcluir">
                                <span>Excluir</span>
                            </md-nav-item>
                            <md-nav-item md-nav-click="Exportar()" name="Exportar" title="Exportar a listagem de itens." ng-show="permissao.PodeExportar">
                                <span>Exportar</span>
                            </md-nav-item>
                            <span class="totalLinhas ng-hide" ng-show="pessoa.gridOptions.rowModelType=='virtual' && pessoa.gridOptions.totalLinhas">
                                {{pessoa.gridOptions.totalLinhas}} registros encontrados
                            </span>
                        </md-nav-bar>
                    </div>
                    <div layout="row">
                        <div ag-grid="pessoa.gridOptions" class="ag-ons">
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</body>
</html>
