	<form name="myForm"  ng-submit="Salvar()">
	  <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Animal
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
		              <div class="form-group col-sm-3"  ng-class="{ 'has-error' : myForm.IdTipoanimal.$invalid && !myForm.IdTipoanimal.$pristine }">
							<label class="editor-label" title="Identificador do Tipo de Animal">
								Tipo animal:
							</label>
							<form-autocomplete name="IdTipoanimal" required="true" data-options="animal.listasEdicao.TipoanimalLista" data-ng-model="animal.itemEdicao.IdTipoanimal"></form-autocomplete>
								<!--<select class="col-sm-12" ng-model="animal.itemEdicao.IdTipoanimal">
									<option value="" selected="selected">Selecione...</option>
									<option ng-repeat="Tipoanimal in animal.listasEdicao.TipoanimalLista" value="{{Tipoanimal.Valor}}">{{Tipoanimal.Texto}}</option>
								</select>-->
					  </div>
		              <div class="form-group col-sm-3"  ng-class="{ 'has-error' : myForm.NomeAnimal.$invalid && !myForm.NomeAnimal.$pristine }">
							<label class="editor-label" title="Nome do Animal">
								Nome:
							</label>
					          <input type="text" name="NomeAnimal" required class="form-control col-sm-12" ng-model="animal.itemEdicao.NomeAnimal" placeholder="Nome..." />
		              </div>
		              <div class="form-group col-sm-3"  ng-class="{ 'has-error' : myForm.DataNascimento.$invalid && !myForm.DataNascimento.$pristine }">
							<label class="editor-label" title="Data de Nascimento">
								Data Nascimento:
							</label>
			          		<input type="text" name="DataNascimento" required class="form-control col-sm-12" datetimecalendar data-date-format="DD/MM/YYYY HH:mm:ss" ng-model="animal.itemEdicao.DataNascimento" ng-change="Pesquisar()" placeholder="Data Nascimento..." />
		              </div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<button id="buttonSalvar" type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Salvar</button>&nbsp;<button id="buttonVoltar" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				</div>
			</div>
		</div>
	  </div>
   </div>
</form>
