<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Animal</title>
    <link rel="stylesheet" type="text/css" href="../../Content/bundle.min.css" />
    <script type="text/javascript" src="../../Scripts/bundle.min.js"></script>
    <script type="text/javascript" src="../../Scripts/angularGrid.min.js"></script>
    <script type="text/javascript" src="../../Views/App.js"></script>
    <link rel="stylesheet" type="text/css" href="Animal.css">
    <script type="text/javascript" src="AnimalListaController.js"></script>
    <script type="text/javascript" src="AnimalController.js"></script>
</head>
<body ng-app="App" ng-controller="AnimalListaController" class="container-fluid body-content">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Animal
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 ng-hide" ng-show="!animal.filtro.FiltroAvancado">
                    <div class="form-group col-sm-12">
                        <label class="editor-label" title="Campo identificador do objeto filho">
                            Pesquisar:
                        </label>
                        <input type="text" class="form-control col-sm-12" data-ng-model="animal.filtro.TextoFiltroSimples" ng-change="Pesquisar()" ng-model-options="{debounce: 450}" placeholder="Pesquisar..." />
                    </div>
                    <div class="col-sm-4">
                        <a ng-click="animal.filtro.FiltroAvancado=true;" class="btn-xs btn-primary">Pesquisa avançada</a>
                    </div>
                </div>
                <div class="col-sm-12 ng-hide" ng-show="animal.filtro.FiltroAvancado">
              		<div class="form-group col-sm-3">
							<label class="editor-label" title="Identificador do Tipo de Animal">
								Tipo animal:
							</label>
							<form-autocomplete name="IdTipoanimal" data-options="animal.filtroListas.TipoanimalLista" data-ng-model="animal.filtro.IdTipoanimal" on-change="Pesquisar()" place-holder="Tipo animal..."></form-autocomplete>
					  </div>
	              	<div class="form-group col-sm-3">
							<label class="editor-label" title="Nome do Animal">
								Nome:
							</label>
			          		<input type="text" class="form-control col-sm-12" ng-model="animal.filtro.NomeAnimal" ng-change="Pesquisar()" placeholder="Nome..."  ng-model-options="{debounce: 450}"/>
              		</div>
	              	<div class="form-group col-sm-3">
							<label class="editor-label" title="Data de Nascimento">
								Data Nascimento:
							</label>
			          		<input type="text" class="form-control col-sm-12" datetimecalendar data-date-format="DD/MM/YYYY HH:mm:ss" ng-model="animal.filtro.DataNascimento" ng-change="Pesquisar()" placeholder="Data Nascimento..." />
              		</div>
					<div class="col-sm-12">
                        <a ng-click="animal.filtro.FiltroAvancado=false;" class="btn-xs btn-primary">Pesquisa simplificada</a>
                    </div>
				</div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="">MUST</a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><button type="button" class="btn btn-sm btn-primary btn-menu" ng-show="permissao.PodeIncluir" ng-click="Incluir()" title="Cadastrar um novo item."><span class="glyphicon glyphicon-plus"></span> Novo</button></li>
                    <li><button type="button" class="btn btn-sm btn-primary btn-menu" ng-show="permissao.PodeLer" ng-click="Editar()" title="Editar um item."><span class="glyphicon glyphicon-edit"></span> Editar</button></li>
                    <li><button type="button" class="btn btn-sm btn-danger btn-menu" ng-show="permissao.PodeExcluir" ng-click="Apagar()" title="Excluir um item."><span class="glyphicon glyphicon-trash"></span> Excluir</button></li>
                    <li><button type="button" class="btn btn-sm btn-primary btn-menu" ng-show="permissao.PodeExportar" ng-click="Exportar()" title="Exportar a listagem de itens."><span class="glyphicon glyphicon-download-alt"></span> Exportar</button></li>
                </ul>
                <span class="nav navbar-nav navbar-right ng-hide" ng-show="animal.gridOptions.rowModelType=='pagination'">
					<select ng-model="animal.gridOptions.pageSize" ng-options="tamanhoPagina for tamanhoPagina in animal.gridOptions.pageSizeList" ng-change="Pesquisar()"></select>
                </span>
				<span class="nav navbar-nav navbar-right totalLinhas ng-hide" ng-show="animal.gridOptions.rowModelType=='virtual' && animal.gridOptions.totalLinhas">
                    {{animal.gridOptions.totalLinhas}} registros encontrados
                </span>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div ag-grid="animal.gridOptions" class="ag-ons">
        </div>
    </div>
</body>
</html>
