﻿<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{data.titulo}}
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            {{data.texto}}
        </div>
        <div class="col-sm-12">
            <input type="button" class="btn btn-primary sim" value="Sim" ng-click="data.yesClick()" />&nbsp;<input type="button" class="btn btn-danger nao" ng-click="data.noClick()" value="Não" />
        </div>
    </div>
</div>
