﻿@model System.String
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Acesso Negado</h1>
        <h2>@Model</h2>
    </hgroup>
</body>
</html>