	<form name="myForm"  ng-submit="Salvar()">
	  <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Pessoaanimal
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
		              <div class="form-group col-sm-3"  ng-class="{ 'has-error' : myForm.IdAnimal.$invalid && !myForm.IdAnimal.$pristine }">
							<label class="editor-label" title="Identificador da tabela de animal">
								Animal:
							</label>
							<form-autocomplete name="IdAnimal" required="true" data-options="pessoaanimal.listasEdicao.AnimalLista" data-ng-model="pessoaanimal.itemEdicao.IdAnimal"></form-autocomplete>
								<!--<select class="col-sm-12" ng-model="pessoaanimal.itemEdicao.IdAnimal">
									<option value="" selected="selected">Selecione...</option>
									<option ng-repeat="Animal in pessoaanimal.listasEdicao.AnimalLista" value="{{Animal.Valor}}">{{Animal.Texto}}</option>
								</select>-->
					  </div>
		              <div class="form-group col-sm-3"  ng-class="{ 'has-error' : myForm.IdPessoa.$invalid && !myForm.IdPessoa.$pristine }">
							<label class="editor-label" title="Identificador da tabela de pessoas">
								Pessoa:
							</label>
							<form-autocomplete name="IdPessoa" required="true" data-options="pessoaanimal.listasEdicao.PessoaLista" data-ng-model="pessoaanimal.itemEdicao.IdPessoa"></form-autocomplete>
								<!--<select class="col-sm-12" ng-model="pessoaanimal.itemEdicao.IdPessoa">
									<option value="" selected="selected">Selecione...</option>
									<option ng-repeat="Pessoa in pessoaanimal.listasEdicao.PessoaLista" value="{{Pessoa.Valor}}">{{Pessoa.Texto}}</option>
								</select>-->
					  </div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<button id="buttonSalvar" type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Salvar</button>&nbsp;<button id="buttonVoltar" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				</div>
			</div>
		</div>
	  </div>
   </div>
</form>
