/*css data tela*/

.ag-ons {
  height: 500px;
  width: 100%;
}

.ons-header {
  border-width: 0 0 1px 0;
  border-top: 4px solid #5889d7;
  /* border: 1px solid #c8c8c8; */
  /* padding: 0.571em 1em; */
  background-color: #f4f4f4;
  color: #333333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.panel-body {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  border-top: 0 none;
}
.ons-input {
  margin-bottom: 0.3em;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  color: #333333;
  background: #ffffff;
  padding: 0.429em;
  border: 1px solid #a6a6a6;
  transition: border-color 0.2s;
  -webkit-appearance: none;
}

.ons-btn {
  color: #ef882a;
  border: 1px solid #ef882a;
  border-radius: 3px;
  background-color: transparent;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.ons-btn:hover {
  background-color: #ef882a;
  border: 1px solid #ef882a;
  border-radius: 3px;
}
.ons-btn:active {
  background: #ef882a !important;
  color: white !important;
}

/* CSS DA GRID */
::ng-deep .ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
  color: #1485f7 !important;
}

/* .grid-imgage-cell{
    left: 20px !important;
} */
.grid-image-header {
  border-left: none !important;
  left: 0px !important;
}

.span-grid-label {
  color: #588eda;
  font-weight: bold;
  text-transform: uppercase;
}

.ag-cell {
  border-left: 1px dotted !important;
}

.ag-header-cell {
  border-left: 1px groove;
}

.ag-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaedf9+0,93b2e0+51 */
  background: #eaedf9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eaedf9 0%, #93b2e0 51%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eaedf9 0%, #93b2e0 51%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eaedf9 0%, #93b2e0 51%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaedf9', endColorstr='#93b2e0', GradientType=0);
  /* IE6-9 */

  font-weight: bold !important;
  font-size: 1.3em !important;
}
