<!-- <form name="myForm" ng-submit="Salvar()">
  <div>
    <div class="panel panel-primary" style=" padding: .2em !important; ">
      <div class="panel-heading ons-header">
        <h3 class="panel-title">
          Animal
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-3" ng-class="{ 'has-error' : myForm.IdTipoanimal.$invalid && !myForm.IdTipoanimal.$pristine }">
            <label class="editor-label" title="Identificador do Tipo de Animal">
              Tipo animal:
            </label>
            <form-autocomplete name="IdTipoanimal" required="true" data-options="animal.listasEdicao.TipoanimalLista"
              data-ng-model="animal.itemEdicao.IdTipoanimal"></form-autocomplete>
            <select class="col-sm-12" ng-model="animal.itemEdicao.IdTipoanimal">
                <option value="" selected="selected">Selecione...</option>
                <option ng-repeat="Tipoanimal in animal.listasEdicao.TipoanimalLista" value="{{Tipoanimal.Valor}}">{{Tipoanimal.Texto}}</option>
              </select>
          </div>
          <div class="form-group col-sm-3" ng-class="{ 'has-error' : myForm.NomeAnimal.$invalid && !myForm.NomeAnimal.$pristine }">
            <label class="editor-label" title="Nome do Animal">
              Nome:
            </label>
            <input type="text" name="NomeAnimal" required class="form-control ons-input col-sm-12" ng-model="animal.itemEdicao.NomeAnimal"
              placeholder="Nome..." />
          </div>
          <div class="form-group col-sm-3" ng-class="{ 'has-error' : myForm.DataNascimento.$invalid && !myForm.DataNascimento.$pristine }">
            <label class="editor-label" title="Data de Nascimento">
              Data Nascimento:
            </label>
            <input type="text" name="DataNascimento" required class="form-control ons-input col-sm-12" datetimecalendar
              data-date-format="DD/MM/YYYY HH:mm:ss" ng-model="animal.itemEdicao.DataNascimento" ng-change="Pesquisar()"
              placeholder="Data Nascimento..." />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-3">
            <button id="buttonSalvar" type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span>
              Salvar</button>&nbsp;<button id="buttonVoltar" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form> -->
<div class="card">
  <div class="card-header ons-header" style=" color: #5889D9; font-weight: 400; vertical-align: middle; line-height: 1.5; ">
    Animal
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="animalTipo" aria-describedby="emailHelp" placeholder="Tipo de Animal">
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" id="Nome" aria-describedby="emailHelp" placeholder="Nome">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input type="text" class="form-control" id="Data" placeholder="Data de Nascimento">
          </div>
        </div>

      </div>

      <button ng-click="teste()" class="btn btn-primary ons-btn">Submit</button>
    </form>
  </div>
</div>

<div ag-grid="gridOptions" class="ag-ons ag-theme-balham">
</div>