	<form name="myForm"  ng-submit="Salvar()">
	  <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Tipo animal
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
		              <div class="form-group col-sm-3"  ng-class="{ 'has-error' : myForm.NomeTipoanimal.$invalid && !myForm.NomeTipoanimal.$pristine }">
							<label class="editor-label" title="Nome do Tipo do Animal. Ex: Cachorro, Gato, Cobra, Réptil, etc.">
								Nome:
							</label>
					          <input type="text" name="NomeTipoanimal" required class="form-control col-sm-12" ng-model="tipoanimal.itemEdicao.NomeTipoanimal" placeholder="Nome..." />
		              </div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3">
					<button id="buttonSalvar" type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Salvar</button>&nbsp;<button id="buttonVoltar" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				</div>
			</div>
		</div>
	  </div>
   </div>
</form>
